
.container {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    width:99%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

#fileuploadarea {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    border: dotted;
    border-radius: 15px;
    border-color: grey;
    margin: 10px;
    align-content: center;
}

#filenameholder {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 8px;
    margin:8px;
    left: 0;
    right:  0;
    align-items: center;
}

mat-form-field {
    width:300px;
}
  
img {
    width: 200px;
    padding: 0 auto;
    margin:0 auto;
    left: 0;
    right: 0;
}

mat-icon {
    padding-right:8px;
}

.resultcardholder {
    background-color: rgba(0,0,0,0);
}

.resultcard {
    margin:5px;
}

.resultcontainer {
    display: flex;
    width:100%;
    max-width: 900px;
    align-content: center;
    justify-content: center;
}

.subbutton {
    background-color: #165b54;
    margin:2px;
}


