
<mat-tab-group mat-align-tabs="center">

    <mat-tab class="tab" label="Add Data Demo">
        <div class="container">    
            <form [formGroup]="InterfaceThisdemoForm" autocomplete="off">

                <img src="../../assets/InterfaceThisFinalLogo.png" width="200">

                <mat-form-field>
                    <input required type="input" matInput placeholder="Enter Destination ID" formControlName="subscriptions">
                </mat-form-field>
            
                <mat-form-field>
                    <input required type="text" matInput placeholder="Enter first name here" formControlName="firstname">
                </mat-form-field>
            
                <mat-form-field>
                    <input required type='text' matInput placeholder="Enter surname here" formControlName="surname">                  
                </mat-form-field>

                <mat-form-field>
                    <input required type="text" matInput placeholder="Test result 1" formControlName="testresone">
                </mat-form-field>
            
                <mat-form-field>
                    <input required type='text' matInput placeholder="Test result 2" formControlName="testrestwo">                  
                </mat-form-field>

                <input type="file" #filetoupload (change)="onFileChange($event)" style="display: none;" />
            
                <div id="fileuploadarea">
                    <button mat-raised-button (click)="filetoupload.click()"><mat-icon>backup</mat-icon>Select File</button>
                    <div id=filenameholder *ngIf="fileName !== 'none'"> {{ fileName }} </div>
                </div>

            <button mat-raised-button (click)="addData(InterfaceThisdemoForm.value)"><mat-icon>check</mat-icon>Submit</button><br>
            
            </form>
        </div>
    </mat-tab>
    <mat-tab class="tab" label="Returned Data Demo">
        <div class="container">
            <mat-card class="resultcardholder">
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <form [formGroup]="InterfaceThisReturnedDemoForm" autocomplete="off">

                        <img src="../../assets/InterfaceThisFinalLogo.png" width="200">
        
                        <mat-form-field>
                            <input required type="input" matInput placeholder="Enter Destination ID" formControlName="subscriptions">
                        </mat-form-field>
                    
                        <button mat-raised-button (click)="getData(this.InterfaceThisReturnedDemoForm.controls.subscriptions.value)"><mat-icon>check</mat-icon>Submit</button><br>
                        
                    </form>
                    <div class="resultcontainer" fxLayout="row wrap" fxLayout.md="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center space-evenly" fxLayoutGap>
                        <mat-card fxFlex="32" fxFlex.md="48" fxFlex.sm="100" fxFlex.xs="100" class="resultcard" *ngFor="let item of returnedresults">
                            <mat-card-content>
                                <table>
                                    <tr>
                                        <p>Document ID: {{item.docid}}</p>
                                        <p>First Name: {{item.patientrecord.firstname}}</p>
                                        <p>Surname: {{item.patientrecord.surname}}</p>
                                        <p>Result 1: {{item.patientrecord.testresone}}</p>
                                        <p>Result 2: {{item.patientrecord.testrestwo}}</p>
                                        <p>Destination Subscriptions (Click for results) : <button class="subbutton" mat-flat-button (click)="loadResultsBySub(button.toString(), item.docid)" *ngFor="let button of item.patientrecord.subscriptions">{{button}}</button> </p>
                                        <p>Image Name: {{item.patientrecord.image.imagename}}</p>
                                    </tr>
                                </table>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
        </div> 
    </mat-tab>
</mat-tab-group>

