<div mat-dialog-content>
    <p></p>
    <p>Result 1: {{data.testresone}}</p>
    <p>Result 2: {{data.testrestwo}}</p>
    <p>Image Name: {{data.image.imagename}}</p>

  <img width="100%" src={{data.image.imagedata}} alt="resutrned Image" >
  
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Close</button>
</div>