/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width:100%; min-height:100%; flex-grow: inherit; }
body { margin: 0; font-family: 'Roboto', sans-serif;  background: #165b54; color: white;
}

/* Scroll Bar Width */
::-webkit-scrollbar {
  width: 0px;
}

